[Unit]
Description=FastAPI Application
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/app
ExecStart=/usr/bin/python3 /home/ec2-user/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target
